.todo_item_ul {
    list-style-type: none; 
    background-color: red;
    margin: 0.5rem;
    padding: 0;
    
    /*position: relative;*/
}


li.todo_item_id {
    display: none;
}

li.todo_item {
    position: relative;
    margin: 0 0 0 0rem;
    padding: 1.3rem 0.5rem 0.5rem 2.5rem;
    margin-top: 0rem;
    
    text-align: left;
    
    font-size: 1rem;
}

.todo_item_container {
    height: 20rem;
    overflow: auto;
    margin-bottom: 2rem;
}

li.todo_item_order {
    background-color: aquamarine;
   
}

li.todo_item_name {
    background-color: rosybrown;
}

li.todo_item:before {
    font-size: 0.8rem;
    position: absolute;
    top: 0rem;
    left: -0.1rem;
    font-weight: bolder;
}

li.todo_item_name:before {
    content: "NAME";
}

li.todo_item_description {
    background-color:aquamarine;  
}

li.todo_item_description:before {
    content: "DESCRIPTION";
}

li.todo_item_dueDate:before {
    content: "DUE DATE";
}

li.todo_item_isUrgent:before {
    content: "URGENT";
}

li.todo_item_category:before {
    content: "CATEGORY";
}



li.todo_item_dueDate {
    background-color: rosybrown;
    
}

li.todo_item_isUrgent {
    background-color: cadetblue;
    
    font-size: 1rem;
   
}

li.todo_item_category {
    background-color:  mediumpurple;
    
    font-size: 1rem;
   
}

li.todo_item {
    
}