.todo_item_ul {
    list-style-type: none; 
    background-color: red;
    margin: 0.5rem;
    padding: 0;
}


.todo_item_id {
    display: none;
}

.todo_item_section {
    position: relative;
    margin: 0 0 0 0rem;
    padding: 0.7rem 0.5rem 0.5rem 1rem;
    margin-top: 0rem;
    text-align: left;
    font-size: 1rem;
}

.todo_item_container {
    /*height: 23rem;*/
    /*overflow: auto;*/
    margin-bottom: 2rem;
}

.todo_item_order {
    background-color: aquamarine;
   
}

.todo_item_name {
    background-color: rosybrown;
    height: 4rem;
    overflow-y: auto;
}

.todo_item_section_heading {
    font-size: 0.8rem;
    font-weight: bolder;
}

/*
.todo_item:before {
    font-size: 0.8rem;
    position: absolute;
    top: 0rem;
    left: -0.1rem;
    font-weight: bolder;
}

.todo_item_name:before {
    content: "NAME";
}

.todo_item_description:before {
    content: "DESCRIPTION";
}

li.todo_item_dueDate:before {
    content: "DUE DATE";
}

.todo_item_isUrgent:before {
    content: "URGENT";
}

.todo_item_category:before {
    content: "CATEGORY";
}

*/



.todo_item_description {
    background-color:aquamarine;  
    height: 8rem;
    overflow-y: auto;
    
}

.scrollable-container {
    overflow-y: auto;
}

span.text-in-btn {
    position: relative;
    top: -0.95rem;
    left: 1rem;
    font-size: 2rem;
}

#global_container_form {
    display: none;
}

span.right-arrow {
    position: relative;
    top: 0rem;
    left: 1.5rem;
    font-size: 6rem;
}

#new_task_btn {
    margin-top: 2.5rem;
    margin-bottom: -1rem;
    font-size: 2rem;
}
#new_task_form_submit_btn {
    line-height: 1.3rem;
    margin-bottom: 1.1rem;
}

.custom-checkbox {
    position: relative;
    top: 2.5rem;
    left: 2rem;
}


.todo_item_dueDate {
    background-color: rosybrown;
    
}

.todo_item_isUrgent {
    background-color: cadetblue;
    
   
   
}

.todo_item_category {
    background-color:  mediumpurple;
    
    
   
}

.todo_item {
    
}