body::-webkit-scrollbar {
    width: 0 !important;
}



header.jumbotron h1{
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0;
}

header.jumbotron p{
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(140,140,140);
    margin-top: 0rem;
    padding-top: 0;
}

header.jumbotron {
    padding: 0;
}

#new_task_btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}



#todo_item_list_container {
    margin-top: 2rem;
}

#global_container_form {
    margin-top: 2rem;
}

.todo_item_ul {
    list-style-type: none; 
    /*background-color: red;*/
    margin: 0.5rem;
    padding: 0;
}

i.fas {
    color: red;
    margin-right: 0.6rem;
}

div.todo_item_container.card {
    position: relative;
    border-left: solid 3px red;
    box-shadow: 0 0 1rem rgb(230,230,230);
}

div.todo_item_container.card:before {
    position: absolute;
    top: -1.0rem;
    right: 1.5rem;
    content: attr(data-before-content);
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    color: red;
    font-weight: bolder;
    background-color: white;
    border-radius: 100%;
    padding-top: 0.3rem;
    box-shadow: 0 0 0.8rem rgb(200,200,200);
    z-index: 100;

}

.todo_item_id {
    display: none;
}

.todo_item_section {
    position: relative;
    margin: 0 0 0 0rem;
    padding: 0.7rem 0.5rem 0.5rem 1rem;
    margin-top: 0rem;
    text-align: left;
    font-size: 1rem;
}

.todo_item_container {
    /*height: 23rem;*/
    /*overflow: auto;*/
    margin-bottom: 2rem;
}

.todo_item_order {
    /*background-color: aquamarine;*/
   
}

.todo_item_name {
    /*background-color: rosybrown;*/
    height: 4rem;
    overflow-y: auto;
}

.todo_item_section_heading {
    font-size: 0.8rem;
    font-weight: bolder;
    position: relative;
}

.todo_item_section_heading:after {
    position: absolute;
    top: 0.55rem;
    left: -0.6rem;
    content: "";
    width: 0.5rem;
    height:0.2rem;
    background-color: red;
}

.todo_item_description {
    height: 8rem;
    overflow-y: auto;
}

.scrollable-container {
    overflow-y: auto;
}

span.text-in-btn {
    position: relative;
    top: -0.95rem;
    left: 1rem;
    font-size: 2rem;
}



span.right-arrow {
    position: relative;
    top: 0rem;
    left: 1.5rem;
    font-size: 6rem;
}

#new_task_form_submit_btn, #new_task_form_cancel_btn {
    line-height: 1.3rem;
    margin-bottom: 1rem;
    /*margin: 1.1rem;*/
}

.custom-checkbox {
    position: relative;
    top: 2.5rem;
    left: 2rem;
}


.todo_item_dueDate {
    /*background-color: rosybrown;*/
    
}

.todo_item_isUrgent {
    /*background-color: cadetblue;*/
    
   
   
}

.todo_item_category {
    /*background-color:  mediumpurple;*/
    
    
   
}

.todo_item {
    
}

.show {
    display: block;
}

.hide {
    display: none;
}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    .new_task_form_btn button {
       font-size: 1.5rem;
    }

    header.jumbotron h1{
        font-size: 1.6rem;
    }

    header.jumbotron p{
        font-size: 0.8rem;
        margin-bottom: 0rem;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    header.jumbotron p{
        margin-bottom: 0rem;
    }
}
